
<div id="page-login">
    <header class="header">
        <div class="header-item logo"><h1><b>Chat</b>App!</h1></div>
        <div class="header-center">&nbsp;</div>
        <div class="header-item"><!-- menu will go here --></div>
    </header>
    <div class="login">

        <div id="joinSection" class="form-control join">
            <div class="user-input">
                <h1 class="title">Join A Chat</h1>
                <form id="joinForm" method="post" action="/join/validate">
                    <span class="input-label">What's your nickname?</span>
                    {{# if errors }}
                        {{#each errors }}
                            {{#when this.param 'eq' 'username'}}
                                <p class="error-message">{{ this.msg }}</p>
                            {{/when}}
                        {{/each}}
                    {{/if}}
                    <input id="usernameInputJoin" class="form-input-rounded" type="text" name="username" {{# if username }}value="{{this.username}}"{{/if}} required>

                    <span class="input-label">Email Address</span>
                    {{# if errors }}
                        {{#each errors }}
                            {{#when this.param 'eq' 'email'}}
                                <p class="error-message">{{ this.msg }}</p>
                            {{/when}}
                        {{/each}}
                    {{/if}}
                    <input id="emailInputJoin" class="form-input-rounded" type="text" name="email" {{# if email }}value="{{this.email}}"{{/if}} required>

                    <span class="input-label">Room ID</span>
                    {{# if errors }}
                        {{#each errors }}
                            {{#when this.param 'eq' 'room'}}
                                <p class="error-message">{{ this.msg }}</p>
                            {{/when}}
                        {{/each}}
                    {{/if}}
                    <input id="roomInputJoin" class="form-input-rounded break-after" type="text" name="room" {{# if room }}value="{{this.room}}"{{/if}} required>
                    <br>
                    <button type="submit" id="usernameBtn" class="btn">Join Chat</button>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/join.js"></script>